.youjianIcon {
    font-size: 20px;
    color: #f09100;
}

a.youjiantxtLink {
    color: #1b1b1b;
    text-decoration: underline;
}
 a.yihuitxtLink{
 	color:#bdbdbd;
 	text-decoration: underline;
 }
 
 