<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人资料</title>
    <link rel="stylesheet" href="../css/comm.css"/>
    <link rel="stylesheet" href="../css/treeStyle.css"/>
    <link rel="stylesheet" href="../zTree_v3-master/css/zTreeStyle/zTreeStyle.css"/>
    <style>
        /*内容*/
        .content {
            margin-top: 16px;
        }

        .gerenziliao-header {
            border-bottom: 1px solid #b5ccf8;
            position: relative;
            height: 40px;
            line-height: 40px;
        }

        .gerenziliao-header h4 {
            font-weight: bold;
        }

        .gerenziliao-header a {
            font-size: 12px;
            color: #003297;
            position: absolute;
            top: 0;
            right: 0;
        }

        .xinxi {
            margin-top: 20px;
        }

        .xinxi-title {
            position: relative;
        }

        .xinxi-title span {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            position: absolute;
            top: 12px;
            right: 0;
            width: 526px;
            border-top: 1px solid #c4d5f9;
        }

        .xiangxixinxi {

        }

        .xiangxixinxi li {
            height: 30px;
            line-height: 30px;
        }
        .xiangxixinxi span{
            display: inline-block;
            *display: inline;
            *zoom: 1;
            width: 200px;
        }

    </style>
</head>
<body>
<!--头部-->
<div class="comm-header">
    <div class="comm-header-inner">
        <img class="header-logo" src="../img/header-logo.png"/>
        <span class="header-text">新华社办公信息化平台</span>
        <img class="kongjian-logo" src="../img/kongjian-logo.png"/>
        <span class="kongjian-text">我的个人空间</span>
        <ul class="header-nav">
            <li>
                <a href="">
                    <img src="../img/header-nav-icon1.png"/>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../img/header-nav-icon2.png"/>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../img/header-nav-icon3.png"/>
                </a>
            </li>
            <li>
                <img src="../img/header-nav-fenge.png"/>
            </li>
            <li>
                <a href="">
                    <img src="../img/header-nav-icon4.png"/>
                </a>
            </li>
        </ul>
    </div>
</div>

<!--有效区域-->
<div class="wrap clearfloat">

    <!--左侧列表-->
    <div class="left-list-wrap">
        <div class="personal clearfloat">
            <img src="../img/touxiang.png"/>

            <div class="introduce">
                <h4>张某某 · 技术局</h4>
                <p>
                    出发之前永远是梦想，上路之后永远是挑战。
                </p>
            </div>
        </div>

        <div class="left-list">
            <div>
                <div class="list-header" id="wodepindao">
                    <h4>
                        <i class="wodepindao"></i>
                        我的频道
                    </h4>
                    <span class="list-header-more">+

                        <div class="left-hidediv hidediv" id="left-hidediv">
                            <ul class="clearfloat">
                                <li class="all-check">
                                    <label>
                                        <input class="left-quanbu-btn" type="checkbox" name="all" value="">全部
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" name="pindao" value="">邮件
                                    </label>
                                </li>

                                <li>
                                    <label>
                                        <input type="checkbox" name="pindao" value="">个人云盘
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" name="pindao" value="">短信
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" name="pindao" value="">我的日程
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" name="pindao" value="">通知公告
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" name="pindao" value="">订阅
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" name="pindao" value="">待办事项
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" name="pindao" value="">收藏
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" name="pindao" value="">共享空间
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </span>
                    <span class="list-header-arrow"></span>
                </div>
                <ul>
                    <li>

                        <a href=""><i class="list-icon-youjian"></i>邮件<span>2</span></a>
                    </li>
                    <li>

                        <a href=""><i class="list-icon-duanxin"></i>短信<span>2</span></a>
                    </li>
                    <li>

                        <a href=""> <i class="list-icon-tongzhigonggao"></i>通知公告</a>
                    </li>
                    <li>

                        <a href=""> <i class="list-icon-daibanshixiang"></i>待办事项</a>
                    </li>
                    <li>

                        <a href=""> <i class="list-icon-dingyue"></i>订阅</a>
                    </li>
                    <li>

                        <a href=""> <i class="list-icon-shoucang"></i>收藏</a>
                    </li>
                </ul>
                <ul class="left-list-ul2">
                    <li>
                        <hr/>
                    </li>
                    <li>

                        <a href=""> <i class="list-icon-wodericheng"></i>我的日程</a>
                    </li>
                    <li>

                        <a href=""> <i class="list-icon-gongxiangkongjian"></i>共享空间</a>
                    </li>
                    <li>

                        <a href=""> <i class="list-icon-gerenyunpan"></i>个人云盘</a>
                    </li>
                </ul>

                <div class="list-more list-more-upicon">

                </div>
            </div>

        </div>
        <div class="left-list">
            <div>
                <div class="list-header">
                    <h4>
                        <i class="jishitongxun"></i>
                        即时通讯
                    </h4>
                    <span class="list-header-arrow"></span>
                </div>
                <ul>
                    <li>

                        <a href=""><i class="list-icon-lianxiren"></i>联系人</a>
                    </li>
                    <li>
                        <i class="list-icon-qunzu"></i>
                        群组
                        <ul>
                            <li><a href=""><i class="list-icon-muqinghuaju"></i>穆青话剧组招募</a></li>
                            <li><a href=""><i class="list-icon-xinoa"></i>新OA</a></li>
                            <li><a href=""><i class="list-icon-yuanxingsheji"></i>原型设计</a></li>
                        </ul>

                    </li>

                </ul>

            </div>

        </div>
    </div>

    <!--中心内容-->
    <div class="container">
        <div class="con-header" id="con-header">
            <ul class="clearfloat">
                <li>
                    <i class="con-header-yunpan"></i>
                    <span>云盘</span>
                </li>
                <li>
                    <i class="con-header-duanxin"></i>
                    <span>短信</span>
                </li>
                <li>
                    <i class="con-header-youxiang"></i>
                    <span>邮箱</span>
                </li>
                <li>
                    <i class="con-header-richeng"></i>
                    <span>日程</span>
                </li>
            </ul>
            <div class="con-header-more">+
                <div class="left-hidediv hidediv" id="top-hidediv">
                    <ul class="clearfloat">
                        <li class="all-check">
                            <label>
                                <input class="top-quanbu-btn" type="checkbox" name="all" value="">全部
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="pindao" value="">云盘
                            </label>
                        </li>

                        <li>
                            <label>
                                <input type="checkbox" name="pindao" value="">论坛
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="pindao" value="">邮箱
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="pindao" value="">即时通讯
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="pindao" value="">短信
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="pindao" value="">共享空间
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="pindao" value="">日程
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="gerenziliao-header">
                <h4>个人资料</h4>
                <a href="">修改</a>
            </div>
            <div class="xinxi">
                <div class="xinxi-title">
                    <h4>基本信息</h4>
                    <span></span>
                </div>

                <div class="xiangxixinxi">
                    <ul>
                        <li>
                            <span>姓名：</span>
                            <span>张某某</span>
                        </li>
                        <li>
                            <span>性别：</span>
                            <span>男</span>
                        </li>
                        <li>
                            <span>年龄：</span>
                            <span>32</span>
                        </li>
                        <li>
                            <span>生日：</span>
                            <span>1985年10月9日</span>
                        </li>
                        <li>
                            <span>政治面貌：</span>
                            <span>党员</span>
                        </li>
                        <li>
                            <span>籍贯：</span>
                            <span>河北省 衡水市 枣强县</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="xinxi">
                <div class="xinxi-title">
                    <h4>工作资料</h4>
                    <span></span>
                </div>

                <div class="xiangxixinxi">
                    <ul>
                        <li>
                            <span>部门：</span>
                            <span>技术局</span>
                        </li>
                        <li>
                            <span>职位：</span>
                            <span>局长</span>
                        </li>
                        <li>
                            <span>入职时间：</span>
                            <span>2012年8月</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="xinxi">
                <div class="xinxi-title">
                    <h4>联系方式</h4>
                    <span></span>
                </div>

                <div class="xiangxixinxi">
                    <ul>
                        <li>
                            <span>电话：</span>
                            <span>183 0000 1302</span>
                        </li>
                        <li>
                            <span>手机：</span>
                            <span>183 0000 1302</span>
                        </li>
                        <li>
                            <span>邮箱：</span>
                            <span>zhang@xh.com</span>
                        </li>
                        <li>
                            <span>传真：</span>
                            <span>183 0000 1302</span>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--右侧-->
    <div class="right-list-wrap">
        <div class="right-list right-tree">
            <div class="list-header">
                <h4>通讯录</h4>
                <span class="list-header-arrow"></span>
            </div>

            <div class="tree-wrap">
                <div class="tree-seach">
                    <input type="text" placeholder="查找联系人..."/>
                    <i class="input-search"></i>
                </div>

                <div class="zTreeDemoBackground left">
                    <ul id="treeDemo" class="ztree"></ul>
                </div>

            </div>

        </div>
        <div class="right-list lianxiren">
            <div class="list-header">
                <h4>常用联系人</h4>
                <span class="list-header-more">+</span>
                <span class="qingkong">清空</span>
                <span class="list-header-arrow"></span>
            </div>
            <div class="lianxiren-list">
                <ul class="clearfloat">
                    <li>
                        <i class="list-icon-muqinghuaju"></i>
                    </li>
                    <li>
                        张某某
                    </li>
                    <li>
                        体育部
                    </li>
                    <li>
                        <i class="list-icon-youjian"></i>
                    </li>
                    <li>
                        <i class="list-icon-duanxin"></i>
                    </li>
                    <li>
                        <i class="jishitongxun"></i>
                    </li>
                </ul>
                <ul class="clearfloat">
                    <li>
                        <i class="list-icon-muqinghuaju"></i>
                    </li>
                    <li>
                        张某某
                    </li>
                    <li>
                        体育部
                    </li>
                    <li>
                        <i class="list-icon-youjian"></i>
                    </li>
                    <li>
                        <i class="list-icon-duanxin"></i>
                    </li>
                    <li>
                        <i class="jishitongxun"></i>
                    </li>
                </ul>
                <ul class="clearfloat">
                    <li>
                        <i class="list-icon-muqinghuaju"></i>
                    </li>
                    <li>
                        张某某
                    </li>
                    <li>
                        体育部
                    </li>
                    <li>
                        <i class="list-icon-youjian"></i>
                    </li>
                    <li>
                        <i class="list-icon-duanxin"></i>
                    </li>
                    <li>
                        <i class="jishitongxun"></i>
                    </li>
                </ul>
                <ul class="clearfloat">
                    <li>
                        <i class="list-icon-muqinghuaju"></i>
                    </li>
                    <li>
                        张某某
                    </li>
                    <li>
                        体育部
                    </li>
                    <li>
                        <i class="list-icon-youjian"></i>
                    </li>
                    <li>
                        <i class="list-icon-duanxin"></i>
                    </li>
                    <li>
                        <i class="jishitongxun"></i>
                    </li>
                </ul>
            </div>
        </div>


        <div class="right-list tuijiandingyue" id="tuijiandingyue">
            <div class="list-header">
                <h4>推荐订阅</h4>
                <span class="close" onclick="javascript:$('#tuijiandingyue').hide();"></span>
            </div>

            <div id="lunboContainer">

                <div class="lunboImg img-active">
                    <!--<img src="../img/dingyue-img1.png"/>-->
                    <div class="dingyue-div clearfloat">
                        <div class="dingyue-img">
                            <img src="../img/dingyue-img1.png"/>
                        </div>
                        <div class="dingyue-text">
                            <h5>知与行</h5>

                            <p>知得笃实，便是行；行得精察，便是知。</p>

                            <div class="tag-wrap">
                                <i class="tag-arrow"></i>
                                <span>2003</span>
                            </div>
                            <div class="dingyue-btn">+订阅</div>
                        </div>
                    </div>
                    <div class="dingyue-div clearfloat">
                        <div class="dingyue-img">
                            <img src="../img/dingyue-img1.png"/>
                        </div>
                        <div class="dingyue-text">
                            <h5>知与行</h5>

                            <p>知得笃实，便是行；行得精察，便是知。</p>

                            <div class="tag-wrap">
                                <i class="tag-arrow"></i>
                                <span>203</span>
                            </div>
                            <div class="dingyue-btn">+订阅</div>
                        </div>
                    </div>
                </div>
                <div class="lunboImg">
                    <!--<img src="../img/dingyue-img2.png"/>-->
                    <div class="dingyue-div clearfloat">
                        <div class="dingyue-img">
                            <img src="../img/dingyue-img2.png"/>
                        </div>
                        <div class="dingyue-text">
                            <h5>知与行</h5>

                            <p>知得笃实，便是行；行得精察，便是知。</p>

                            <div class="tag-wrap">
                                <i class="tag-arrow"></i>
                                <span>20003</span>
                            </div>
                            <div class="dingyue-btn">+订阅</div>
                        </div>
                    </div>
                    <div class="dingyue-div clearfloat">
                        <div class="dingyue-img">
                            <img src="../img/dingyue-img2.png"/>
                        </div>
                        <div class="dingyue-text">
                            <h5>知与行</h5>

                            <p>知得笃实，便是行；行得精察，便是知。</p>

                            <div class="tag-wrap">
                                <i class="tag-arrow"></i>
                                <span>203</span>
                            </div>
                            <div class="dingyue-btn">+订阅</div>
                        </div>
                    </div>
                </div>
                <div class="lunboImg">
                    <!--<img src="../img/dingyue-img3.png"/>-->
                    <div class="dingyue-div clearfloat">
                        <div class="dingyue-img">
                            <img src="../img/dingyue-img3.png"/>
                        </div>
                        <div class="dingyue-text">
                            <h5>外交评论</h5>

                            <p>全国国际政治类核心期刊。</p>

                            <div class="tag-wrap">
                                <i class="tag-arrow"></i>
                                <span>203</span>
                            </div>
                            <div class="dingyue-btn">+订阅</div>
                        </div>
                    </div>
                    <div class="dingyue-div clearfloat">
                        <div class="dingyue-img">
                            <img src="../img/dingyue-img3.png"/>
                        </div>
                        <div class="dingyue-text">
                            <h5>外交评论</h5>

                            <p>全国国际政治类核心期刊。</p>

                            <div class="tag-wrap">
                                <i class="tag-arrow"></i>
                                <span>2003</span>
                            </div>
                            <div class="dingyue-btn">+订阅</div>
                        </div>
                    </div>
                </div>

                <a class="navController lunbo-left">＜</a>
                <a class="navController lunbo-right">＞</a>

            </div>

        </div>


        <div class="right-list richengtixing" id="richengtixing">
            <div class="list-header">
                <h4>日程提醒</h4>
                <span class="close" onclick="javascript:$('#richengtixing').hide();"></span>
            </div>
            <div class="tixing-list">
                <img src="../img/richengtixing-img.png"/>
                <h5>视频会议</h5>

                <div class="tixing-btn">提醒</div>
                <span>2天后</span>
            </div>
            <hr/>
            <div class="tixing-list">
                <img src="../img/richengtixing-img.png"/>
                <h5>视频会议</h5>

                <div class="tixing-btn">提醒</div>
                <span>2天后</span>
            </div>
            <hr/>
            <div class="tixing-list">
                <img src="../img/richengtixing-img.png"/>
                <h5>视频会议</h5>

                <div class="tixing-btn">提醒</div>
                <span>2天后</span>
            </div>
        </div>
    </div>

</div>

<script src="../js/jquery-1.7.1.min.js"></script>
<script src="../zTree_v3-master/js/jquery.ztree.core.js"></script>
<script src="../js/comm.js"></script>
</body>
</html>