<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收藏</title>
    <link rel="stylesheet" href="../css/comm.css"/>
    <link rel="stylesheet" href="../css/treeStyle.css"/>
    <link rel="stylesheet" href="../zTree_v3-master/css/zTreeStyle/zTreeStyle.css"/>
    <style>
        /*内容*/
        .content-header {
            height: 48px;
            background-color: #f0f5ff;
            border-top: 1px solid #b5cbf8;
            border-left: 1px solid #b5cbf8;
            border-right: 1px solid #b5cbf8;
            margin-top: 16px;
            position: relative;
        }

        .content-header div {
            line-height: 48px;
            position: relative;
            float: left;
        }

        .content-header-shoucang {
            margin-right: 160px;
            margin-left: 10px;
        }

        .content-header-shoucang .list-header-arrow {
            left: 70px;
        }

        .content-header-seach {
            margin-right: 50px;

        }

        .content-header-seach input {
            border: 1px solid #e4e4e4;
            width: 190px;
            height: 25px;
            line-height: 25px;
            padding-left: 10px;
        }

        .content-header-seach .input-search {
            width: 26px;
            height: 26px;
            background: #ececec url(../img/seach-icon.png) no-repeat 3px 3px;
            top: 11px;
            right: 1px;
            *top: 7px;
            *right: 50px;
        }

        .content-header .content-header-leixing {
            position: absolute;
            right: 80px;
        }

        .content-header-leixing .list-header-arrow {
            left: 55px;
        }

        .content-part {
            position: relative;
            padding: 12px 0;
            background-color: #f1f6ff;
            border: 1px solid #bcd0f9;
            margin-bottom: 14px;
        }

        .left-img {
            float: left;
            margin-left: 12px;
        }

        .part-text {
            width: 500px;
            float: left;
            margin: 0 16px;
        }

        .part-text .span1 {
            color: #f3a529;
            margin-right: 20px;
        }

        .part-text .span2 {
            color: #a2a2a3;
        }

        .part-text .span3 {
            margin-right: 38px;
        }

        .part-text .span4 {
            color: #a2a2a3;
        }

        .part-content {
            margin-top: 10px;
        }

        .part-content h5 {
            font-weight: bold;
        }

        .fujian-div {
            margin-top: 15px;
        }

        .fujian-div li {
            float: left;
            margin-right: 26px;
            font-size: 12px;
            color: #003297;
        }

        .fujian-div li.fujian {
            font-size: 14px;
            color: #2c2c2c;
            font-weight: bold;
        }

        .fujian-icon {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            width: 20px;
            height: 20px;
            vertical-align: -8px;
            background: url("../img/left-list-icon.png") no-repeat -84px -240px;
        }

        .part-text-pinglun {
            width: 364px;
        }

        .part-header {
            margin: 0 12px;
        }

        .part-header h5 {
            display: inline-block;
            color: #4d73d9;
            font-weight: bold;
            margin-right: 30px;
        }

        .part-header span {
            color: #989797;
        }

        .content-part4 p {
            color: #5176da;
            margin: 0 12px;
        }

        .content-part5 .part-text .span1 {
            color: #31b126;
            margin-right: 0;
        }

        .xiaoxi-list {
            float: right;
        }

        .xiaoxi-list li {
            float: left;
            margin: 0 8px;
            color: #3150a3;
        }

        .xiaoxi-list li i {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            width: 20px;
            height: 20px;
            vertical-align: -7px;
            margin-right: 6px;
        }

        .xiaoxi-list-huifu {
            background: url("../img/left-list-icon.png") no-repeat -118px -12px;
        }

        .xiaoxi-list-biaoji {
            background: url("../img/left-list-icon.png") no-repeat -118px -43px;
        }

        .xiaoxi-list-shoucang {
            background: url("../img/left-list-icon.png") no-repeat -118px -73px;
        }

        .xiaoxi-list-zhiding {
            background: url("../img/left-list-icon.png") no-repeat -118px -108px;
        }

        .part-date {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            margin-left: 12px;
        }
    </style>
</head>
<body>
<!--头部-->
<div class="comm-header">
    <div class="comm-header-inner">
        <img class="header-logo" src="../img/header-logo.png"/>
        <span class="header-text">新华社办公信息化平台</span>
        <img class="kongjian-logo" src="../img/kongjian-logo.png"/>
        <span class="kongjian-text">我的个人空间</span>
        <ul class="header-nav">
            <li>
                <a href="">
                    <img src="../img/header-nav-icon1.png"/>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../img/header-nav-icon2.png"/>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../img/header-nav-icon3.png"/>
                </a>
            </li>
            <li>
                <img src="../img/header-nav-fenge.png"/>
            </li>
            <li>
                <a href="">
                    <img src="../img/header-nav-icon4.png"/>
                </a>
            </li>
        </ul>
    </div>
</div>

<!--有效区域-->
<div class="wrap clearfloat">

    <!--左侧列表-->
    <div class="left-list-wrap">
        <div class="personal clearfloat">
            <img src="../img/touxiang.png"/>

            <div class="introduce">
                <h4>张某某 · 技术局</h4>

                <p>
                    出发之前永远是梦想，上路之后永远是挑战。
                </p>
            </div>
        </div>

        <div class="left-list">
            <div>
                <div class="list-header" id="wodepindao">
                    <h4>
                        <i class="wodepindao"></i>
                        我的频道
                    </h4>
                    <span class="list-header-more">+

                        <div class="left-hidediv hidediv" id="left-hidediv">
                            <ul class="clearfloat">
                                <li class="all-check">
                                    <label>
                                        <input class="left-quanbu-btn" type="checkbox" name="all" value="">全部
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" name="pindao" value="">邮件
                                    </label>
                                </li>

                                <li>
                                    <label>
                                        <input type="checkbox" name="pindao" value="">个人云盘
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" name="pindao" value="">短信
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" name="pindao" value="">我的日程
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" name="pindao" value="">通知公告
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" name="pindao" value="">订阅
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" name="pindao" value="">待办事项
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" name="pindao" value="">收藏
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" name="pindao" value="">共享空间
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </span>
                    <span class="list-header-arrow"></span>
                </div>
                <ul>
                    <li>

                        <a href=""><i class="list-icon-youjian"></i>邮件<span>2</span></a>
                    </li>
                    <li>

                        <a href=""><i class="list-icon-duanxin"></i>短信<span>15</span></a>
                    </li>
                    <li>

                        <a href=""> <i class="list-icon-tongzhigonggao"></i>通知公告</a>
                    </li>
                    <li>

                        <a href=""> <i class="list-icon-daibanshixiang"></i>待办事项</a>
                    </li>
                    <li>

                        <a href=""> <i class="list-icon-dingyue"></i>订阅</a>
                    </li>
                    <li style="font-weight: bold;background-color: #dce8ff;">

                        <a href=""> <i class="list-icon-shoucang" style="background-position: -46px  -168px;"></i>收藏</a>
                    </li>
                </ul>
                <ul class="left-list-ul2">
                    <li>
                        <hr/>
                    </li>
                    <li>

                        <a href=""> <i class="list-icon-wodericheng"></i>我的日程</a>
                    </li>
                    <li>

                        <a href=""> <i class="list-icon-gongxiangkongjian"></i>共享空间</a>
                    </li>
                    <li>

                        <a href=""> <i class="list-icon-gerenyunpan"></i>个人云盘</a>
                    </li>
                </ul>

                <div class="list-more list-more-upicon">

                </div>
            </div>

        </div>
        <div class="left-list">
            <div>
                <div class="list-header">
                    <h4>
                        <i class="jishitongxun"></i>
                        即时通讯
                    </h4>
                    <span class="list-header-arrow"></span>
                </div>
                <ul>
                    <li>

                        <a href=""><i class="list-icon-lianxiren"></i>联系人</a>
                    </li>
                    <li>
                        <i class="list-icon-qunzu"></i>
                        群组
                        <ul>
                            <li><a href=""><i class="list-icon-muqinghuaju"></i>穆青话剧组招募</a></li>
                            <li><a href=""><i class="list-icon-xinoa"></i>新OA</a></li>
                            <li><a href=""><i class="list-icon-yuanxingsheji"></i>原型设计</a></li>
                        </ul>

                    </li>

                </ul>

            </div>

        </div>
    </div>

    <!--中心内容-->
    <div class="container">
        <div class="con-header" id="con-header">
            <ul class="clearfloat">
                <li>
                    <i class="con-header-yunpan"></i>
                    <span>云盘</span>
                </li>
                <li>
                    <i class="con-header-duanxin"></i>
                    <span>短信</span>
                </li>
                <li>
                    <i class="con-header-youxiang"></i>
                    <span>邮箱</span>
                </li>
                <li>
                    <i class="con-header-richeng"></i>
                    <span>日程</span>
                </li>
            </ul>
            <div class="con-header-more">+
                <div class="left-hidediv hidediv" id="top-hidediv">
                    <ul class="clearfloat">
                        <li class="all-check">
                            <label>
                                <input class="top-quanbu-btn" type="checkbox" name="all" value="">全部
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="pindao" value="">云盘
                            </label>
                        </li>

                        <li>
                            <label>
                                <input type="checkbox" name="pindao" value="">论坛
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="pindao" value="">邮箱
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="pindao" value="">即时通讯
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="pindao" value="">短信
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="pindao" value="">共享空间
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="pindao" value="">日程
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-header clearfloat">
                <div class="content-header-shoucang">
                    <h4>我的收藏</h4>
                    <span class="list-header-arrow"></span>
                </div>

                <div class="content-header-seach">
                    <input type="text" placeholder="搜索内容">
                    <i class="input-search"></i>
                </div>

                <div class="content-header-leixing">
                    <h4>类型</h4>
                    <span class="list-header-arrow"></span>
                </div>
            </div>

            <div class="content-part content-part1 clearfloat">
                <span class="close" onclick="javascript:var _this=$(this);shadeShow(_this);"></span>

                <div class="left-img">
                    <img src="../img/youjian-img.png"/>
                </div>
                <div class="part-text">
                    <span class="span1">[邮件]</span>
                    <span class="span2">来自</span>
                    <span class="span3">张某三</span>
                    <span class="span4">昨天15:23</span>

                    <div class="part-content">
                        <h5>会议通知</h5>

                        <p>您好，关于XXX会议的通知，请您于2017年1月9日准时参加。您好，关于XXX会议的通知，请您于2017年1月9日准时参加。</p>
                    </div>
                </div>
            </div>
            <div class="content-part content-part2 clearfloat">
                <span class="close" onclick="javascript:var _this=$(this);shadeShow(_this);"></span>

                <div class="left-img">
                    <img src="../img/youjian-img.png"/>
                </div>
                <div class="part-text">
                    <span class="span1">[邮件]</span>
                    <span class="span2">来自</span>
                    <span class="span3">张某三</span>
                    <span class="span4">昨天15:23</span>

                    <div class="part-content">
                        <h5>市场部-蔡永-梦幻新区4月交易数据汇报-12.5.1</h5>

                        <p>叶总、王总，你们好：</p>

                        <p style="text-indent: 2em;">
                            4月份梦幻新区的定单发布数量为1000单，成交495笔，环比3月份(500单)发布单数量上升100%和成交量笔数(450)上升10%，发布单数与成交笔数的增长比率严重不符。</p>
                    </div>

                    <div class="fujian-div">
                        <ul class="clearfloat">
                            <li class="fujian">
                                <i class="fujian-icon"></i>
                                附件
                            </li>
                            <li>
                                下载
                            </li>
                            <li>
                                预览
                            </li>
                        </ul>
                        <div>
                            <img src="../img/fujian-img.png"/>
                            <span>梦幻4月份新区的交易情况明细.rar</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-part content-part3 clearfloat">
                <span class="close" onclick="javascript:var _this=$(this);shadeShow(_this);"></span>

                <div class="left-img">
                    <img src="../img/pinglun-img.png"/>
                </div>
                <div class="part-text part-text-pinglun">
                    <div class="part-content">
                        <h5>美墨：有形之墙未起,“无形之墙”已成 </h5>

                        <p style="text-indent: 2em;">
                            美国总统特朗普宣布,欲在墨西哥和美国边境修建边境墙,阻挡来自墨西哥等拉美国家的非法移民,以此缓解美墨边境地区的毒品交易和犯罪问题,并提高美国人的就业率。</p>

                        <p style="text-indent: 2em;">然而,边境墙真的能阻挡拉美人进入美国的脚步吗?修建边境墙能否一劳永逸地解决墨美边境地区的犯罪和就业等问题?</p>
                    </div>
                </div>

                <div class="part-date">
                    <span>来自《外交评论》</span>
                    <span>|</span>
                    <span>2017-02-05  9：00</span>
                </div>
            </div>
            <div class="content-part content-part4 clearfloat">
                <span class="close" onclick="javascript:var _this=$(this);shadeShow(_this);"></span>

                <div class="part-header">
                    <h5>通知公告</h5>
                    <span>2017-02-04  13:06 </span>
                </div>
                <p>有关新华社的安全问题，请大家务必自觉做到不吸烟、安全用电。</p>
            </div>
            <div class="content-part content-part5 clearfloat">
                <span class="close" onclick="javascript:var _this=$(this);shadeShow(_this);"></span>

                <div class="left-img">
                    <img src="../img/xiaoxi-img.png"/>
                </div>
                <div class="part-text">
                    <span class="span1">+86 13311037576</span>
                    <span class="span2">|</span>
                    <span class="span3">张某三</span>
                    <span class="span4">昨天15:23</span>

                    <div class="part-content">
                        <p>针对OA系统项目进度情况，请核实并准备汇报。</p>

                        <p>收到请回复，谢谢。</p>
                    </div>
                </div>

                <div class="xiaoxi-list">
                    <ul class="clearfloat">
                        <li>
                            <i class="xiaoxi-list-huifu"></i>回复
                        </li>
                        <li>|</li>
                        <li>
                            <i class="xiaoxi-list-biaoji"></i>标记
                        </li>
                        <li>|</li>
                        <li>
                            <i class="xiaoxi-list-shoucang"></i>收藏
                        </li>
                        <li>|</li>
                        <li>
                            <i class="xiaoxi-list-zhiding"></i>置顶
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--右侧-->
    <div class="right-list-wrap">
        <div class="right-list right-tree">
            <div class="list-header">
                <h4>通讯录</h4>
                <span class="list-header-arrow"></span>
            </div>

            <div class="tree-wrap">
                <div class="tree-seach">
                    <input type="text" placeholder="查找联系人..."/>
                    <i class="input-search"></i>
                </div>

                <div class="zTreeDemoBackground left">
                    <ul id="treeDemo" class="ztree"></ul>
                </div>

            </div>

        </div>
        <div class="right-list lianxiren">
            <div class="list-header">
                <h4>常用联系人</h4>
                <span class="list-header-more">+</span>
                <span class="qingkong">清空</span>
                <span class="list-header-arrow"></span>
            </div>
            <div class="lianxiren-list">
                <ul class="clearfloat">
                    <li>
                        <i class="list-icon-muqinghuaju"></i>
                    </li>
                    <li>
                        张某某
                    </li>
                    <li>
                        体育部
                    </li>
                    <li>
                        <i class="list-icon-youjian"></i>
                    </li>
                    <li>
                        <i class="list-icon-duanxin"></i>
                    </li>
                    <li>
                        <i class="jishitongxun"></i>
                    </li>
                </ul>
                <ul class="clearfloat">
                    <li>
                        <i class="list-icon-muqinghuaju"></i>
                    </li>
                    <li>
                        张某某
                    </li>
                    <li>
                        体育部
                    </li>
                    <li>
                        <i class="list-icon-youjian"></i>
                    </li>
                    <li>
                        <i class="list-icon-duanxin"></i>
                    </li>
                    <li>
                        <i class="jishitongxun"></i>
                    </li>
                </ul>
                <ul class="clearfloat">
                    <li>
                        <i class="list-icon-muqinghuaju"></i>
                    </li>
                    <li>
                        张某某
                    </li>
                    <li>
                        体育部
                    </li>
                    <li>
                        <i class="list-icon-youjian"></i>
                    </li>
                    <li>
                        <i class="list-icon-duanxin"></i>
                    </li>
                    <li>
                        <i class="jishitongxun"></i>
                    </li>
                </ul>
                <ul class="clearfloat">
                    <li>
                        <i class="list-icon-muqinghuaju"></i>
                    </li>
                    <li>
                        张某某
                    </li>
                    <li>
                        体育部
                    </li>
                    <li>
                        <i class="list-icon-youjian"></i>
                    </li>
                    <li>
                        <i class="list-icon-duanxin"></i>
                    </li>
                    <li>
                        <i class="jishitongxun"></i>
                    </li>
                </ul>
            </div>
        </div>


        <div class="right-list tuijiandingyue" id="tuijiandingyue">
            <div class="list-header">
                <h4>推荐订阅</h4>
                <span class="close" onclick="javascript:$('#tuijiandingyue').hide();"></span>
            </div>

            <div id="lunboContainer">

                <div class="lunboImg img-active">
                    <div class="dingyue-div clearfloat">
                        <div class="dingyue-img">
                            <img src="../img/dingyue-img1.png"/>
                        </div>
                        <div class="dingyue-text">
                            <h5>知与行</h5>

                            <p>知得笃实，便是行；行得精察，便是知。</p>

                            <div class="tag-wrap">
                                <i class="tag-arrow"></i>
                                <span>2003</span>
                            </div>
                            <div class="dingyue-btn">+订阅</div>
                        </div>
                    </div>
                    <div class="dingyue-div clearfloat">
                        <div class="dingyue-img">
                            <img src="../img/dingyue-img1.png"/>
                        </div>
                        <div class="dingyue-text">
                            <h5>知与行</h5>

                            <p>知得笃实，便是行；行得精察，便是知。</p>

                            <div class="tag-wrap">
                                <i class="tag-arrow"></i>
                                <span>2003</span>
                            </div>
                            <div class="dingyue-btn">+订阅</div>
                        </div>
                    </div>
                </div>
                <div class="lunboImg">
                    <div class="dingyue-div clearfloat">
                        <div class="dingyue-img">
                            <img src="../img/dingyue-img2.png"/>
                        </div>
                        <div class="dingyue-text">
                            <h5>知与行</h5>

                            <p>知得笃实，便是行；行得精察，便是知。</p>

                            <div class="tag-wrap">
                                <i class="tag-arrow"></i>
                                <span>2003</span>
                            </div>
                            <div class="dingyue-btn">+订阅</div>
                        </div>
                    </div>
                    <div class="dingyue-div clearfloat">
                        <div class="dingyue-img">
                            <img src="../img/dingyue-img2.png"/>
                        </div>
                        <div class="dingyue-text">
                            <h5>知与行</h5>

                            <p>知得笃实，便是行；行得精察，便是知。</p>

                            <div class="tag-wrap">
                                <i class="tag-arrow"></i>
                                <span>2003</span>
                            </div>
                            <div class="dingyue-btn">+订阅</div>
                        </div>
                    </div>
                </div>
                <div class="lunboImg">
                    <div class="dingyue-div clearfloat">
                        <div class="dingyue-img">
                            <img src="../img/dingyue-img3.png"/>
                        </div>
                        <div class="dingyue-text">
                            <h5>外交评论</h5>

                            <p>全国国际政治类核心期刊。</p>

                            <div class="tag-wrap">
                                <i class="tag-arrow"></i>
                                <span>2003</span>
                            </div>
                            <div class="dingyue-btn">+订阅</div>
                        </div>
                    </div>
                    <div class="dingyue-div clearfloat">
                        <div class="dingyue-img">
                            <img src="../img/dingyue-img3.png"/>
                        </div>
                        <div class="dingyue-text">
                            <h5>外交评论</h5>

                            <p>全国国际政治类核心期刊。</p>

                            <div class="tag-wrap">
                                <i class="tag-arrow"></i>
                                <span>2003</span>
                            </div>
                            <div class="dingyue-btn">+订阅</div>
                        </div>
                    </div>
                </div>

                <a class="navController lunbo-left">＜</a>
                <a class="navController lunbo-right">＞</a>
            </div>
        </div>

        <div class="right-list richengtixing" id="richengtixing">
            <div class="list-header">
                <h4>日程提醒</h4>
                <span class="close" onclick="javascript:$('#richengtixing').hide();"></span>
            </div>
            <div class="tixing-list">
                <img src="../img/richengtixing-img.png"/>
                <h5>视频会议</h5>

                <div class="tixing-btn">提醒</div>
                <span>2天后</span>
            </div>
            <hr/>
            <div class="tixing-list">
                <img src="../img/richengtixing-img.png"/>
                <h5>视频会议</h5>

                <div class="tixing-btn">提醒</div>
                <span>2天后</span>
            </div>
            <hr/>
            <div class="tixing-list">
                <img src="../img/richengtixing-img.png"/>
                <h5>视频会议</h5>

                <div class="tixing-btn">提醒</div>
                <span>2天后</span>
            </div>
        </div>
    </div>

</div>

<script src="../js/jquery-1.7.1.min.js"></script>
<script src="../zTree_v3-master/js/jquery.ztree.core.js"></script>
<script src="../js/comm.js"></script>
</body>
</html>