<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>我的订阅</title>
    <link rel="stylesheet" href="../css/idangerous.swiper.css">
    <link rel="stylesheet" href="../css/screen.css" />
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/gerenkongjian.css">
    <link rel="stylesheet" href="../css/yewudaiban.css">
    <link rel="stylesheet" href="../css/wodedingyue.css">
    <!--[if IE 7]>
    <style>
    .header {margin-left: -110px;}
    </style>
    <![endif]-->
   
</head>

<body onselectstart="return false">
    <div class="header">
        <div class="container clearfix" id="container">
            <div class="left fl">
                <img id="logo" class="logo" src="../img/logo.png" alt="">
                <h3 class="siteName fl">新华社办公信息化平台</h3>
                <img class="zone fl" src="../img/zone.gif" alt="">
                <h4 class="subSiteName fl">我的个人空间</h4>
            </div>
            <div class="right fr">
                <ul>
                    <li>
                        <a href="#">
                            <img src="../img/home.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../img/goback.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../img/pifu.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../img/gexian.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../img/tuichu.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <div class="left">
            <div class="clearfix xhLeftCol_user ">
                <a class="xhAvatar_50" title="我的个人空间ID:179360151" style="background-image: url(../img/userImg.gif);"></a>
                <p class="userIfo">
                    <a href="#" class="sl2">张某三</a> ·
                    <a href="#" class="sl2">技术局</a>
                    <p class="gexingqianming">出发之前永远是梦想，上路之后永远是挑战。</p>
                </p>
            </div>
            <div class="wodepindao">
                <h3 class="panelTitleH3">
                <i class="iconfont" style="color: #1d71b7;font-size: 25px;margin-right: 2px;">&#xe6c9;</i>
                <span>我的频道</span>
                <i id="plus" class="iconfont" style="color:#566cae;margin-left: 10px;font-size: 20px;cursor: pointer;">&#xe614;</i>
                <i id="suozhan" class="iconfont suozhan">&#xe661;</i>
                </h3>
                <!-- 增加弹框 -->
                <!-- <div id="zengjia_pop" class="zengjia_pop" style="display: none;">
                    <p>
                        <label>
                            <input type="checkbox" name="checkbox" value="value" checked=""><span style="color:#003297;">全部</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" name="checkbox" value="value">邮件
                        </label>
                        <label style="margin-left: 39px;">
                            <input type="checkbox" name="checkbox" value="value">个人云盘
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" name="checkbox" value="value">短信
                        </label>
                        <label style="margin-left: 39px;">
                            <input type="checkbox" name="checkbox" value="value">我的日程
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" name="checkbox" value="value">通知公告
                        </label>
                        <label style="margin-left: 15px;">
                            <input type="checkbox" name="checkbox" value="value">订阅
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" name="checkbox" value="value">待办事项
                        </label>
                        <label style="margin-left: 15px;">
                            <input type="checkbox" name="checkbox" value="value">收藏
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" name="checkbox" value="value">共享空间
                        </label>
                    </p>
                </div> -->
                <div id="listItem" class="listItem">
                    <ul id="appMenu" class="appMenu">
                        <li>
                            <a href="yunpan.html">
                                <img src="../img/yunpan.png" style="vertical-align: middle;">
                                <span>云盘</span>
                            </a>
                        </li>
                        <li>
                            <a href="yewudaiban.html">
                                <img src="../img/daiban.png" style="vertical-align: middle;">
                                <span>业务待办</span>
                            </a>
                        </li>
                        <li>
                            <a href="duanxin.html" style="position: relative;">
                                <img src="../img/duanxin.png" style="vertical-align: middle;">
                                <span>短信</span>
                                <i class="iconfont" style="font-size: 34px;position: absolute;left: 63px;top: -4px;color: red"> &#xe609;</i>
                                <span style="position: absolute;left: 76px;top: -7px;font-size: 13px;color: #fff;">2</span>
                            </a>
                        </li>
                        <li>
                            <a href="youjian.html" style="position: relative;">
                                <img src="../img/youjian.png" style="vertical-align: middle;">
                                <span>邮件</span>
                                <i class="iconfont" style="font-size: 34px;position: absolute;left: 63px;top: -4px;color: red">&#xe609;</i>
                                <span style="position: absolute;left: 76px;top: -7px;font-size: 13px;color: #fff;">1</span>
                            </a>
                        </li>
                        <li>
                            <a href="richeng.html">
                                <img src="../img/richeng.png" style="vertical-align: middle;">
                                <span>日程</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/shoucang.png" style="vertical-align: middle;">
                                <span>标记</span>
                            </a>
                        </li>
                        <li>
                            <a href="gongxiangkongjian.html">
                                <img src="../img/gongxiangkongjian.png" style="vertical-align: middle;">
                                <span>共享空间</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="activeMenu">
                                <img src="../img/dingyue1.png" style="vertical-align: middle;">
                                <span>我的订阅</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="jishitongxun wodepindao tongxunlu tuijianyuedu">
                <h3 class="panelTitleH3" style="background-color:#fff;border-bottom: none;"> 推荐订阅
                      <a class="arrow-left" href="#" style="color:#ddd;">
                            <i class="iconfont">&#xe642;</i>
                        </a>
                        <a class="arrow-right" href="#">
                            <i class="iconfont">&#xe620;</i>
                        </a>
                    </h3>
                <div class="tjyydContent">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="content-slide" style="width: 176px;">
                                    <ul class="tuijiandingyueUl">
                                        <li>
                                            <img src="../img/hot.gif" alt="">
                                            <span> 1. 前进报 </span>
                                            <a href="javascript:;" class="dingyueCss">+订阅</a>
                                        </li>
                                        <li>
                                            <img src="../img/hot.gif" alt="">
                                            <span> 2. 新华新青年 </span>
                                            <a href="javascript:;" class="dingyueCss">+订阅</a>
                                        </li>
                                        <li>
                                            <img src="../img/hot.gif" alt="">
                                            <span> 3. 新华档案 </span>
                                            <a href="javascript:;" class="dingyueCss">+订阅</a>
                                        </li>
                                        <li>
                                            <img src="../img/hot.gif" alt="">
                                            <span> 4. 产品研究院 </span>
                                            <a href="javascript:;" class="dingyueCss">+订阅</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content-slide" style="width: 176px;">
                                    <ul class="tuijiandingyueUl">
                                        <li>
                                            <img src="../img/hot.gif" alt="">
                                            <span> 1. 前进报er </span>
                                            <a href="javascript:;" class="dingyueCss">+订阅</a>
                                        </li>
                                        <li>
                                            <img src="../img/hot.gif" alt="">
                                            <span> 2. 新华新青年 </span>
                                            <a href="javascript:;" class="dingyueCss">+订阅</a>
                                        </li>
                                        <li>
                                            <img src="../img/hot.gif" alt="">
                                            <span> 3. 新华档案 </span>
                                            <a href="javascript:;" class="dingyueCss">+订阅</a>
                                        </li>
                                        <li>
                                            <img src="../img/hot.gif" alt="">
                                            <span> 4. 产品研究院 </span>
                                            <a href="javascript:;" class="dingyueCss">+订阅</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p style="text-align: center;">
                        <a href="javascript:;" style="text-decoration: underline;color:#1d71b7;">更多</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="middle">
            <div class="daibanTitle clearfix">
                <span class="fl" style="font-size: 15px;font-weight: 600;">我的订阅</span>
                <div class="searchBox clearfix fr">
                    <input class="fl searchIpt" type="text">
                    <i class="iconfont fl searchIcon">&#xe600;</i>
                </div>
            </div>
            <div class="dingyueBOX">
                <div class="jishitongxun wodepindao tongxunlu tuijianyuedu tongzhigonggao">
                    <h3 class="panelTitleH3" style="border-bottom: none;"> 通知公告
                      <a class="arrow-left-tongzhigonggao" href="#" style="color:#ddd;">
                            <i class="iconfont">&#xe642;</i>
                        </a>
                        <a class="arrow-right-tongzhigonggao" href="#">
                            <i class="iconfont">&#xe620;</i>
                        </a>
                        <a class="quxiaoguanzhu" href="javascript:;">取消关注</a>
                    </h3>
                    <div class="tjyydContent">
                        <div class="swiper-container-tongzhigonggao" style="overflow: hidden;">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="content-slide" style="width: 99%;">
                                        <ul class="dingyueUl">
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="content-slide" style="width: 99%;">
                                        <ul class="dingyueUl">
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息2 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jishitongxun wodepindao tongxunlu tuijianyuedu tongzhigonggao" style="margin-left: 6px;">
                    <h3 class="panelTitleH3" style="border-bottom: none;"> 办公厅通报
                      <a class="arrow-left-tongbao" href="#" style="color:#ddd;">
                            <i class="iconfont">&#xe642;</i>
                        </a>
                        <a class="arrow-right-tongbao" href="#">
                            <i class="iconfont">&#xe620;</i>
                        </a>
                        <a class="quxiaoguanzhu" href="javascript:;">取消关注</a>
                    </h3>
                    <div class="tjyydContent">
                        <div class="swiper-container-tongbao" style="overflow: hidden;">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="content-slide" style="width: 99%;">
                                        <ul class="dingyueUl">
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 新华网发布2016年度社会热点事件网络舆情 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="content-slide" style="width: 99%;">
                                        <ul class="dingyueUl">
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 新华网发布2016年度社会热点事件网络舆情 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jishitongxun wodepindao tongxunlu tuijianyuedu tongzhigonggao">
                    <h3 class="panelTitleH3" style="border-bottom: none;"> 总编室通报
                      <a class="arrow-left-zongbianshi" href="#" style="color:#ddd;">
                            <i class="iconfont">&#xe642;</i>
                        </a>
                        <a class="arrow-right-zongbianshi" href="#">
                            <i class="iconfont">&#xe620;</i>
                        </a>
                        <a class="quxiaoguanzhu" href="javascript:;">取消关注</a>
                    </h3>
                    <div class="tjyydContent">
                        <div class="swiper-container-zongbianshi" style="overflow: hidden;">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="content-slide" style="width: 99%;">
                                        <ul class="dingyueUl">
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 新华网发布2016年度社会热点事件网络舆情 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="content-slide" style="width: 99%;">
                                        <ul class="dingyueUl">
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 新华网发布2016年度社会热点事件网络舆情 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jishitongxun wodepindao tongxunlu tuijianyuedu tongzhigonggao" style="margin-left: 6px;">
                    <h3 class="panelTitleH3" style="border-bottom: none;"> 最新消息
                      <a class="arrow-left-zuixinxiaoxi" href="#" style="color:#ddd;">
                            <i class="iconfont">&#xe642;</i>
                        </a>
                        <a class="arrow-right-zuixinxiaoxi" href="#">
                            <i class="iconfont">&#xe620;</i>
                        </a>
                        <a class="quxiaoguanzhu" href="javascript:;">取消关注</a>
                    </h3>
                    <div class="tjyydContent">
                        <div class="swiper-container-zuixinxiaoxi" style="overflow: hidden;">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="content-slide" style="width: 99%;">
                                        <ul class="dingyueUl">
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 新华网发布2016年度社会热点事件网络舆情 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="content-slide" style="width: 99%;">
                                        <ul class="dingyueUl">
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 新华网发布2016年度社会热点事件网络舆情2 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                            <li class="clearfix">
                                                <img class="fl" src="../img/dingyueIcon.png" alt="">
                                                <span class="fl"> 关于使用行业数据库欧用行业数据睿咨询信息 </span>
                                                <span class="fr">2017-1-21</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/jquery-1.9.1.min.js"></script>
    <script src="../js/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/moment.js"></script>
    <script src="../js/idangerous.swiper.min.js"></script>
    <!--[if lte IE 6]>
    <style>
    
    </style>
        <script>
        $("#logo").attr("src","../img/logo.gif");
        </script>
    <![endif]-->
    <script src="../js/public_p.js"></script>
    <script>
    var mySwiperTZGG = new Swiper('.swiper-container-tongzhigonggao', {
        loop: true,
        grabCursor: true,
        paginationClickable: true,
        calculateHeight: true,
        calculateWidth: true
    })
    $('.arrow-left-tongzhigonggao').on('click', function(e) {
        var $this = $(this);
        e.preventDefault();
        if (mySwiperTZGG.activeIndex != 1) {
            mySwiperTZGG.swipePrev();
            $this.css('color', '#2c2c2c');

        } else {
            $this.css('color', '#ddd');
        }
    })

    $('.arrow-right-tongzhigonggao').on('click', function(e) {
        e.preventDefault();
        mySwiperTZGG.swipeNext();
        if (mySwiperTZGG.activeIndex != 1) {
            $('.arrow-left-tongzhigonggao').css('color', '#2c2c2c');
        }
    })

    var mySwiperTB = new Swiper('.swiper-container-tongbao', {
        loop: true,
        grabCursor: true,
        paginationClickable: true,
        calculateHeight: true,
        calculateWidth: true
    })
    $('.arrow-left-tongbao').on('click', function(e) {
        var $this = $(this);
        e.preventDefault();
        if (mySwiperTB.activeIndex != 1) {
            mySwiperTB.swipePrev();
            $this.css('color', '#2c2c2c');

        } else {
            $this.css('color', '#ddd');
        }
    })

    $('.arrow-right-tongbao').on('click', function(e) {
        e.preventDefault();
        mySwiperTB.swipeNext();
        if (mySwiperTB.activeIndex != 1) {
            $('.arrow-left-tongbao').css('color', '#2c2c2c');
        }
    })

    var mySwiperZBS = new Swiper('.swiper-container-zongbianshi', {
        loop: true,
        grabCursor: true,
        paginationClickable: true,
        calculateHeight: true,
        calculateWidth: true
    })
    $('.arrow-left-zongbianshi').on('click', function(e) {
        var $this = $(this);
        e.preventDefault();
        if (mySwiperZBS.activeIndex != 1) {
            mySwiperZBS.swipePrev();
            $this.css('color', '#2c2c2c');

        } else {
            $this.css('color', '#ddd');
        }
    })

    $('.arrow-right-zongbianshi').on('click', function(e) {
        e.preventDefault();
        mySwiperZBS.swipeNext();
        if (mySwiperZBS.activeIndex != 1) {
            $('.arrow-left-zongbianshi').css('color', '#2c2c2c');
        }
    })
    var mySwiperZXXX = new Swiper('.swiper-container-zuixinxiaoxi', {
        loop: true,
        grabCursor: true,
        paginationClickable: true,
        calculateHeight: true,
        calculateWidth: true
    })
    $('.arrow-left-zuixinxiaoxi').on('click', function(e) {
        var $this = $(this);
        e.preventDefault();
        if (mySwiperZXXX.activeIndex != 1) {
            mySwiperZXXX.swipePrev();
            $this.css('color', '#2c2c2c');

        } else {
            $this.css('color', '#ddd');
        }
    })

    $('.arrow-right-zuixinxiaoxi').on('click', function(e) {
        e.preventDefault();
        mySwiperZXXX.swipeNext();
        if (mySwiperZXXX.activeIndex != 1) {
            $('.arrow-left-zuixinxiaoxi').css('color', '#2c2c2c');
        }
    })
    </script>
</body>

</html>
